.content {
    background: #F1F4F8;
    display: flex;
}

.cards {
    padding-left: 100px;
    width: 85%;
    text-align: left;
}

.page-header {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3em 1.8em;
    color: var(--color-dark-black);
    height: 5%;
}